{
    "extends": [
      "airbnb"
    ],
    "parser": "babel-eslint",
    "rules": {
        "indent": ["error", 4],
        "react/prefer-stateless-function": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "class-methods-use-this": "off",
        "arrow-body-style": "off",
        "comma-dangle": "off"
    }
  }