.grid {
    height: 560px;
    min-width: 560px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-top: 50px;
    background-color: rgba(109, 127, 151, 0.5);
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #85796b;
}


h3 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
}

h1 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
 margin-top: -10px;
}

.invisible {
    background-color: white;
}

body, .app {

  max-width: 100vh;
  display: flex;
}

body {
    background-image: url('../images/fw3.jpg');
    background-size: 100%;
}

.board {
    flex-wrap: wrap;
}

.board-row {
    display: flex;
}

.board .cell, .cell.fake {
    height: 70px;
    width: 70px;
    background-size: 70px;
}

.cell.fake {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.cell-hidden {
    opacity: 0;
}


.score-board {
  background-color: pink;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: 200px;
  margin-bottom: 350px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#FFB6C1, #FFC0CB);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}

.level-road {
 background-image: url('../images/chakras.png');
 height: 753px;
 width: 650px;
 background-color: rgba(255, 255, 255, 0.384);
 border-radius: 20px;

}

.level-wrapper {
    height: 43vh;
    width: 5vw;
    margin: 0 auto;
}

.level-7 {
    background-image: url('../images/level7.png');
    width: 4vw;
    height: 3.9vw;
    margin-bottom: 3vh;

}

.level-6 {
    background-image: url('../images/level6.png');
    width: 4vw;
    height: 2.7vw;
    margin-bottom: 7.5vh;
}
.level-5 {
    background-image: url('../images/level5.png');
    width: 4vw;
    height: 3.9vw;
    margin-bottom: 1vh;
}
.level-4 {
    background-image: url('../images/level4.png');
    width: 4vw;
    height: 3.9vw;

}
.level-3 {
    background-image: url('../images/level3.png');
    width: 4vw;
    height: 3.9vw;
    margin-bottom: 2vh;
}
.level-2 {
    background-image: url('../images/level2.png');
    width: 4vw;
    height: 3.9vw;
    margin-bottom: 3vh;
}
.level-1 {
    background-image: url('../images/level1.png');
    width: 4vw;
    height: 3.9vw;
}


